In [1]:
!pip install pymongo dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.12.1)
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 31.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [2]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)

In [3]:
import pymongo
import dns
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt 
import requests
import seaborn as sns
sns.set(style="white") #white background style for seaborn plots
sns.set(style="whitegrid", color_codes=True)

In [4]:
uri = "mongodb+srv://Thmo89:ThfMx2u1dMhvhdK16@cluster1.mknx2.mongodb.net/test?retryWrites=true&w=majority"
user_name = "Thmo89"
psw = "Authentication "
uri2 = "mongodb+srv://{}:{}@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority".format(user_name, psw)

In [5]:
client = pymongo.MongoClient(uri2)

**Données prix et production tomates**

In [6]:
db = client.Tomates_meteo_Centre8
mycl = db["données"]
Dat = pd.DataFrame(list(mycl.find()))
DT = pd.DataFrame(Dat, columns = ['Date', 'prix moyen au kg', 'Production quantité \ntonne(s)','catégorie tomates'])
DT.rename(columns={"Production quantité \ntonne(s)": "Production quantité tonne(s)"},inplace=True)
DT.to_csv('TMn.csv',index = False)

In [7]:
Pop = pd.read_csv("/content/TMn.csv", parse_dates=['Date'], dayfirst= True)
Pop.sort_values(by=['Date'], inplace=True, ascending=True) 
Pop

          Date  ...           catégorie tomates
351 2012-06-14  ...  Tomate ronde cat.I 57-67mm
81  2012-06-15  ...  Tomate ronde cat.I 57-67mm
387 2012-06-18  ...  Tomate ronde cat.I 57-67mm
147 2012-06-25  ...  Tomate ronde cat.I 57-67mm
80  2012-06-29  ...  Tomate ronde cat.I 57-67mm
..         ...  ...                         ...
27  2021-10-27  ...  Tomate ronde cat.I 57-67mm
181 2021-10-28  ...  Tomate ronde cat.I 57-67mm
83  2021-10-29  ...  Tomate ronde cat.I 57-67mm
415 2021-11-10  ...  Tomate ronde cat.I 57-67mm
293 2021-11-12  ...  Tomate ronde cat.I 57-67mm

[488 rows x 4 columns]

**Scrapping données météo**

In [8]:
import time


L = []

Année = ['2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
Mois = ['janvier','fevrier','mars','avril','mai','juin','juillet','aout','septembre','octobre','novembre','decembre']
for a in Année:
  for m in Mois:
    u = "https://www.infoclimat.fr/climatologie-mensuelle/07249/{}/{}/orleans-bricy.html".format(m, a)
    try:
      r=requests.get(u)
      print(r.status_code,u)
      html = r.content
      df_list = pd.read_html(html)
      print(len(df_list))
      df = df_list[1]
      df['mois'] = m
      df['année'] = a
      L.append(df_list[1]) 
      time.sleep(0.1)
    except: 
      print(u)

200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2012/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2013/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2014/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2015/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2016/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2017/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2018/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2019/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2020/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/janvier/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/fevrier/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mars/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/avril/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/mai/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juin/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/juillet/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/aout/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/septembre/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/octobre/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/novembre/2021/orleans-bricy.html
6
200 https://www.infoclimat.fr/climatologie-mensuelle/07249/decembre/2021/orleans-bricy.html
6

In [20]:
M =  pd.concat(L)
M.to_csv('données_météo4.csv',index = False)
data = pd.read_csv('données_météo4.csv')
data

            Jour  aff. décades  ... Neige max  help
0       date_range  Dimanche 1  ...             NaN
1          date_range  Lundi 2  ...             NaN
2          date_range  Mardi 3  ...             NaN
3       date_range  Mercredi 4  ...             NaN
4          date_range  Jeudi 5  ...             NaN
...                        ...  ...             ...
4728         Extrêmes Décade 3  ...             NaN
4729  Moyennes/cumuls Décade 3  ...             NaN
4730         Moyenneset cumuls  ...             NaN
4731    Maxi du mois(TNX, TXX)  ...            0 cm
4732    Mini du mois(TNN, TXN)  ...             NaN

[4733 rows x 10 columns]

In [21]:
columns_to_drop=['Temps observé  help', 'Neige max  help']
data=data.drop(columns_to_drop,axis=1)
data

            Jour  aff. décades  ... année
0       date_range  Dimanche 1  ...  2012
1          date_range  Lundi 2  ...  2012
2          date_range  Mardi 3  ...  2012
3       date_range  Mercredi 4  ...  2012
4          date_range  Jeudi 5  ...  2012
...                        ...  ...   ...
4728         Extrêmes Décade 3  ...  2021
4729  Moyennes/cumuls Décade 3  ...  2021
4730         Moyenneset cumuls  ...  2021
4731    Maxi du mois(TNX, TXX)  ...  2021
4732    Mini du mois(TNN, TXN)  ...  2021

[4733 rows x 8 columns]

In [22]:
import re
string = "00mn 114 W/m²	"
string2 = "3h 07mn 239 W/m²	"

def get_time(row):
  if isinstance(row, str):
    first = re.sub(r"\d+ W/m² ?", "", row).strip()
    return re.sub(r"[\–+]\d+%", "", first).strip()
  else:
    return ""

data["soleil_duree"] = data["Ensoleillement  help"].apply(get_time)
list(data.soleil_duree.values)

['00mn',
 '3h 07mn',
 '06mn',
 '5h 19mn',
 '18mn',
 '7h 00mn',
 '20mn',
 '00mn',
 '00mn',
 '00mn',
 '',
 '16h 10mn',
 '30mn',
 '01mn',
 '1h 07mn',
 '3h 57mn',
 '7h 54mn',
 '7h 55mn',
 '6h 36mn',
 '00mn',
 '00mn',
 '02mn',
 '',
 '28h 02mn',
 '00mn',
 '00mn',
 '2h 06mn',
 '1h 36mn',
 '00mn',
 '1h 12mn',
 '6h 00mn',
 '06mn',
 '2h 54mn',
 '00mn',
 '36mn',
 '',
 '14h 30mn',
 '58h 42mn',
 '',
 '',
 '4h 48mn',
 '8h 42mn',
 '8h 48mn',
 '8h 38mn',
 '00mn',
 '4h 30mn',
 '9h 00mn',
 '2h 43mn',
 '8h 02mn',
 '9h 08mn',
 '',
 '64h 19mn',
 '9h 12mn',
 '6h 48mn',
 '00mn',
 '1h 00mn',
 '56mn',
 '00mn',
 '2h 24mn',
 '00mn',
 '7h 26mn',
 '9h 42mn',
 '',
 '37h 28mn',
 '9h 48mn',
 '8h 18mn',
 '00mn',
 '1h 49mn',
 '00mn',
 '4h 12mn',
 '7h 26mn',
 '1h 48mn',
 '9h 24mn',
 '',
 '42h 45mn',
 '144h 32mn',
 '',
 '',
 '00mn',
 '00mn',
 '12mn',
 '01mn',
 '6h 36mn',
 '1h 48mn',
 '19mn',
 '9h 24mn',
 '9h 48mn',
 '24mn',
 '',
 '28h 32mn',
 '56mn',
 '10h 54mn',
 '6h 48mn',
 '10h 48mn',
 '10h 49mn',
 '11h 02mn',
 '00mn',
 '06mn',
 '2h 48mn',
 '9h 26mn',
 '',
 '63h 37mn',
 '10h 24mn',
 '8h 30mn',
 '10h 48mn',
 '11h 36mn',
 '11h 36mn',
 '11h 48mn',
 '11h 50mn',
 '11h 49mn',
 '12h 00mn',
 '12h 00mn',
 '3h 12mn',
 '',
 '115h 33mn',
 '207h 42mn',
 '',
 '',
 '11h 48mn',
 '11h 54mn',
 '9h 30mn',
 '4h 56mn',
 '8h 44mn',
 '8h 54mn',
 '5h 30mn',
 '7h 42mn',
 '00mn',
 '1h 18mn',
 '',
 '70h 16mn',
 '7h 24mn',
 '7h 01mn',
 '8h 18mn',
 '3h 37mn',
 '4h 24mn',
 '8h 18mn',
 '50mn',
 '56mn',
 '5h 36mn',
 '5h 14mn',
 '',
 '51h 38mn',
 '3h 42mn',
 '8h 06mn',
 '2h 55mn',
 '3h 31mn',
 '12mn',
 '2h 06mn',
 '12mn',
 '00mn',
 '3h 42mn',
 '4h 18mn',
 '',
 '28h 44mn',
 '150h 38mn',
 '',
 '',
 '12h 26mn',
 '00mn',
 '11h 19mn',
 '1h 48mn',
 '55mn',
 '2h 54mn',
 '6h 36mn',
 '48mn',
 '3h 49mn',
 '11h 36mn',
 '',
 '52h 11mn',
 '4h 00mn',
 '9h 48mn',
 '13h 24mn',
 '13h 44mn',
 '7h 02mn',
 '11h 56mn',
 '3h 43mn',
 '4h 12mn',
 '3h 06mn',
 '1h 06mn',
 '',
 '72h 01mn',
 '00mn',
 '3h 07mn',
 '8h 18mn',
 '10h 30mn',
 '14h 42mn',
 '14h 43mn',
 '4h 30mn',
 '14h 36mn',
 '14h 30mn',
 '8h 06mn',
 '9h 38mn',
 '',
 '102h 40mn',
 '226h 52mn',
 '',
 '',
 '8h 48mn',
 '11h 18mn',
 '3h 54mn',
 '3h 18mn',
 '4h 12mn',
 '4h 07mn',
 '4h 55mn',
 '8h 18mn',
 '7h 48mn',
 '00mn',
 '',
 '56h 38mn',
 '2h 32mn',
 '1h 48mn',
 '6h 12mn',
 '9h 43mn',
 '3h 18mn',
 '2h 36mn',
 '12h 08mn',
 '4h 18mn',
 '2h 06mn',
 '8h 44mn',
 '',
 '53h 25mn',
 '7h 48mn',
 '10h 06mn',
 '8h 38mn',
 '12mn',
 '1h 42mn',
 '20mn',
 '11h 19mn',
 '11h 06mn',
 '3h 00mn',
 '9h 06mn',
 '',
 '63h 17mn',
 '173h 20mn',
 '',
 '',
 '8h 38mn',
 '9h 25mn',
 '9h 08mn',
 '8h 31mn',
 '4h 00mn',
 '4h 48mn',
 '2h 48mn',
 '3h 06mn',
 '5h 42mn',
 '06mn',
 '',
 '56h 12mn',
 '4h 00mn',
 '4h 00mn',
 '42mn',
 '5h 00mn',
 '5h 44mn',
 '11h 36mn',
 '7h 42mn',
 '13h 12mn',
 '3h 26mn',
 '3h 00mn',
 '',
 '58h 22mn',
 '9h 42mn',
 '13h 55mn',
 '14h 26mn',
 '14h 26mn',
 '14h 19mn',
 '12h 56mn',
 '1h 48mn',
 '2h 48mn',
 '7h 31mn',
 '01mn',
 '10h 19mn',
 '',
 '102h 11mn',
 '216h 45mn',
 '',
 '',
 '7h 25mn',
 '5h 30mn',
 '5h 42mn',
 '8h 18mn',
 '3h 18mn',
 '5h 54mn',
 '6h 12mn',
 '13h 24mn',
 '12h 20mn',
 '13h 43mn',
 '',
 '81h 46mn',
 '12h 24mn',
 '5h 00mn',
 '4h 30mn',
 '48mn',
 '6h 13mn',
 '12h 14mn',
 '13h 19mn',
 '13h 20mn',
 '10h 42mn',
 '8h 48mn',
 '',
 '87h 18mn',
 '11h 12mn',
 '12h 24mn',
 '7h 36mn',
 '3h 00mn',
 '5h 48mn',
 '5h 42mn',
 '11h 18mn',
 '6h 14mn',
 '8h 32mn',
 '6h 19mn',
 '9h 06mn',
 '',
 '87h 11mn',
 '256h 15mn',
 '',
 '',
 '11h 50mn',
 '3h 06mn',
 '1h 24mn',
 '11h 12mn',
 '6h 30mn',
 '12h 18mn',
 '12h 12mn',
 '12h 13mn',
 '11h 30mn',
 '2h 42mn',
 '',
 '84h 57mn',
 '30mn',
 '2h 26mn',
 '6h 25mn',
 '3h 50mn',
 '8h 38mn',
 '10h 07mn',
 '11h 42mn',
 '2h 06mn',
 '9h 31mn',
 '10h 43mn',
 '',
 '65h 58mn',
 '3h 36mn',
 '3h 56mn',
 '3h 54mn',
 '2h 30mn',
 '18mn',
 '1h 42mn',
 '2h 37mn',
 '8h 24mn',
 '5h 36mn',
 '10h 55mn',
 '',
 '43h 28mn',
 '194h 23mn',
 '',
 '',
 '8h 56mn',
 '2h 01mn',
 '3h 06mn',
 '5h 54mn',
 '3h 12mn',
 '08mn',
 '30mn',
 '00mn',
 '1h 12mn',
 '1h 00mn',
 '',
 '25h 59mn',
 '1h 48mn',
 '6h 54mn',
 '54mn',
 '30mn',
 '7h 37mn',
 '3h 48mn',
 '30mn',
 '18mn',
 '00mn',
 '00mn',
 '',
 '22h 19mn',
 '2h 36mn',
 '8h 24mn',
 '50mn',
 '4h 49mn',
 '00mn',
 '00mn',
 '6h 42mn',
 '7h 48mn',
 '5h 18mn',
 '9h 08mn',
 '8h 42mn',
 '',
 '54h 17mn',
 '102h 35mn',
 '',
 '',
 '2h 00mn',
 '1h 20mn',
 '02mn',
 '2h 12mn',
 '4h 58mn',
 '6h 25mn',
 '',
 '1h 43mn',
 '1h 20mn',
 '30mn',
 '',
 '20h 30mn',
 '06mn',
 '30mn',
 '3h 24mn',
 '',
 '',
 '',
 '1h 32mn',
 '',
 '12mn',
 '4h 19mn',
 '',
 '10h 03mn',
 '36mn',
 '2h 36mn',
 '',
 '20mn',
 '2h 07mn',
 '1h 36mn',
 '',
 '1h 00mn',
 '5h 26mn',
 '',
 '',
 '13h 41mn',
 '44h 14mn',
 '',
 '',
 '06mn',
 '3h 12mn',
 '',
 '3h 24mn',
 '12mn',
 '4h 08mn',
 '1h 31mn',
 '',
 '06mn',
 '4h 18mn',
 '',
 '16h 57mn',
 '5h 36mn',
 '7h 18mn',
 '',
 '',
 '2h 54mn',
 '3h 26mn',
 '1h 24mn',
 '1h 12mn',
 '',
 '06mn',
 '',
 '21h 56mn',
 '1h 01mn',
 '',
 '1h 36mn',
 '2h 12mn',
 '2h 32mn',
 '3h 44mn',
 '3h 06mn',
 '02mn',
 '5h 49mn',
 '5h 56mn',
 '2h 12mn',
 '',
 '28h 10mn',
 '67h 03mn',
 '',
 '',
 '3h 06mn',
 '3h 12mn',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '6h 18mn',
 '2h 25mn',
 '',
 '',
 '48mn',
 '1h 00mn',
 '7h 54mn',
 '4h 36mn',
 '',
 '',
 '30mn',
 '',
 '17h 13mn',
 '30mn',
 '1h 12mn',
 '',
 '06mn',
 '06mn',
 '54mn',
 '1h 12mn',
 '6h 12mn',
 '',
 '36mn',
 '14mn',
 '',
 '11h 02mn',
 '34h 33mn',
 '',
 '',
 '',
 '4h 18mn',
 '07mn',
 '1h 18mn',
 '1h 12mn',
 '3h 12mn',
 '1h 08mn',
 '3h 24mn',
 '06mn',
 '',
 '',
 '14h 45mn',
 '3h 12mn',
 '',
 '1h 00mn',
 '54mn',
 '5h 48mn',
 '3h 48mn',
 '6h 00mn',
 '9h 37mn',
 '9h 31mn',
 '8h 49mn',
 '',
 '48h 39mn',
 '6h 06mn',
 '6h 26mn',
 '1h 00mn',
 '56mn',
 '',
 '48mn',
 '',
 '',
 '',
 '15h 16mn',
 '78h 40mn',
 '',
 '',
 '',
 '',
 '7h 30mn',
 '9h 48mn',
 '56mn',
 '',
 '1h 19mn',
 '1h 42mn',
 '27mn',
 '3h 43mn',
 '',
 '25h 25mn',
 '07mn',
 '',
 '4h 34mn',
 '4h 00mn',
 '9h 50mn',
 '48mn',
 '1h 36mn',
 '1h 18mn',
 '1h 07mn',
 '4h 42mn',
 '',
 '28h 02mn',
 '3h 12mn',
 '4h 36mn',
 '24mn',
 '1h 02mn',
 '3h 48mn',
 '6h 12mn',
 '8h 06mn',
 '1h 42mn',
 '1h 24mn',
 '',
 '10h 06mn',
 '',
 '40h 32mn',
 '93h 59mn',
 '',
 '',
 '11h 06mn',
 '11h 18mn',
 '10h 12mn',
 '54mn',
 '',
 '',
 '6h 30mn',
 '1h 06mn',
 '1h 30mn',
 '1h 44mn',
 '',
 '44h 20mn',
 '18mn',
 '4h 42mn',
 '18mn',
 '12h 30mn',
 '2h 12mn',
 '4h 54mn',
 '12h 18mn',
 '5h 56mn',
 '7h 56mn',
 '5h 06mn',
 '',
 '56h 10mn',
 '12h 13mn',
 '7h 24mn',
 '5h 48mn',
 '12h 55mn',
 '13h 01mn',
 '',
 '42mn',
 '2h 25mn',
 '9h 50mn',
 '',
 '',
 '64h 18mn',
 '164h 48mn',
 '',
 '',
 '02mn',
 '7h 43mn',
 '1h 48mn',
 '9h 55mn',
 '6h 54mn',
 '10h 06mn',
 '9h 36mn',
 '4h 05mn',
 '4h 12mn',
 '01mn',
 '',
 '54h 23mn',
 '5h 37mn',
 '7h 43mn',
 '1h 24mn',
 '1h 06mn',
 '4h 12mn',
 '6h 06mn',
 '2h 38mn',
 '3h 08mn',
 '1h 00mn',
 '',
 '',
 '32h 54mn',
 '',
 '4h 19mn',
 '3h 18mn',
 '3h 13mn',
 '5h 06mn',
 '7h 54mn',
 '7h 30mn',
 '4h 00mn',
 '4h 13mn',
 '1h 42mn',
 '2h 00mn',
 '',
 '43h 15mn',
 '130h 32mn',
 '',
 '',
 '10h 25mn',
 '8h 02mn',
 '13h 07mn',
 '14h 42mn',
 '13h 30mn',
 '8h 49mn',
 '11h 49mn',
 '6h 54mn',
 '2h 00mn',
 '4h 12mn',
 '',
 '93h 30mn',
 '36mn',
 '54mn',
 '2h 24mn',
 '7h 24mn',
 '7h 48mn',
 '10h 12mn',
 '3h 30mn',
 '5h 55mn',
 '3h 12mn',
 '3h 36mn',
 '',
 '45h 31mn',
 '3h 44mn',
 '1h 18mn',
 '3h 36mn',
 '5h 42mn',
 '11h 19mn',
 '9h 12mn',
 '6h 12mn',
 '02mn',
 '6h 18mn',
 '14h 00mn',
 '',
 '61h 23mn',
 '200h 24mn',
 '',
 '',
 '10h 20mn',
 '7h 12mn',
 '31mn',
 '3h 54mn',
 '8h 54mn',
 '12h 36mn',
 '13h 12mn',
 '14h 36mn',
 '13h 30mn',
 '13h 24mn',
 '',
 '98h 09mn',
 '11h 24mn',
 '14h 18mn',
 '13h 48mn',
 '14h 19mn',
 '11h 32mn',
 '10h 06mn',
 '10h 44mn',
 '10h 14mn',
 '4h 36mn',
 '8h 54mn',
 '',
 '109h 55mn',
 '12h 12mn',
 '8h 55mn',
 '8h 11mn',
 '9h 01mn',
 '7h 44mn',
 '7h 06mn',
 '6h 24mn',
 '7h 30mn',
 '9h 00mn',
 '4h 00mn',
 '7h 32mn',
 '',
 '87h 36mn',
 '295h 40mn',
 '',
 '',
 '13h 43mn',
 '13h 42mn',
 '9h 26mn',
 '12h 18mn',
 '10h 54mn',
 '6h 18mn',
 '2h 30mn',
 '6h 30mn',
 '8h 06mn',
 '11h 44mn',
 '',
 '95h 11mn',
 '2h 54mn',
 '9h 36mn',
 '9h 54mn',
 '12h 37mn',
 '12h 55mn',
 '9h 30mn',
 '7h 36mn',
 '1h 19mn',
 '10h 01mn',
 '12h 49mn',
 '',
 '89h 11mn',
 '12h 19mn',
 '11h 01mn',
 '10h 18mn',
 '4h 05mn',
 '06mn',
 '3h 54mn',
 '3h 30mn',
 '7h 49mn',
 '9h 01mn',
 '11h 50mn',
 '2h 36mn',
 '',
 '76h 30mn',
 '260h 52mn',
 '',
 '',
 '12h 14mn',
 '11h 54mn',
 '12h 00mn',
 '12h 00mn',
 '11h 54mn',
 '2h 18mn',
 '3h 36mn',
 '8h 18mn',
 '2h 13mn',
 '4h 25mn',
 '',
 '80h 52mn',
 '30mn',
 '24mn',
 '02mn',
 '00mn',
 '5h 54mn',
 '3h 53mn',
 '02mn',
 '2h 38mn',
 '3h 30mn',
 '6h 54mn',
 '',
 '23h 47mn',
 '10h 30mn',
 '3h 32mn',
 '5h 42mn',
 '10h 55mn',
 '6h 24mn',
 '3h 00mn',
 '8h 31mn',
 '1h 12mn',
 '00mn',
 '2h 31mn',
 '',
 '52h 17mn',
 '156h 56mn',
 '',
 '',
 '00mn',
 '54mn',
 '4h 19mn',
 '00mn',
 '3h 42mn',
 '2h 00mn',
 '4h 48mn',
 '2h 36mn',
 '1h 50mn',
 '4h 05mn',
 '',
 '24h 15mn',
 '36mn',
 '',
 '3h 18mn',
 '30mn',
 '00mn',
 '54mn',
 '3h 36mn',
 '6h 18mn',
 '2h 06mn',
 '1h 42mn',
 '',
 '19h 00mn',
 '3h 30mn',
 '2h 02mn',
 '6h 26mn',
 '3h 48mn',
 '06mn',
 '1h 01mn',
 '48mn',
 '3h 00mn',
 '7h 36mn',
 '8h 20mn',
 '7h 30mn',
 '',
 '44h 07mn',
 '87h 22mn',
 '',
 '',
 '00mn',
 '1h 18mn',
 '7h 06mn',
 '1h 07mn',
 '54mn',
 '1h 44mn',
 '2h 00mn',
 '54mn',
 '2h 18mn',
 '4h 55mn',
 '',
 '22h 16mn',
 '5h 06mn',
 '00mn',
 '8h 00mn',
 '1h 18mn',
 '00mn',
 '3h 06mn',
 '00mn',
 '00mn',
 '54mn',
 '4h 25mn',
 '',
 '22h 49mn',
 '02mn',
 '24mn',
 '00mn',
 '3h 49mn',
 '1h 42mn',
 '2h 48mn',
 '3h 06mn',
 '24mn',
 '18mn',
 '2h 48mn',
 '',
 '15h 21mn',
 '60h 26mn',
 '',
 '',
 '1h 30mn',
 '3h 00mn',
 '7h 19mn',
 '00mn',
 '1h 08mn',
 '1h 54mn',
 '06mn',
 '7h 06mn',
 '7h 24mn',
 '7h 30mn',
 '',
 '36h 57mn',
 '7h 25mn',
 '4h 18mn',
 '3h 06mn',
 '43mn',
 '6h 26mn',
 '7h 18mn',
 '4h 12mn',
 '1h 12mn',
 '4h 00mn',
 '7h 12mn',
 '',
 '45h 52mn',
 '18mn',
 '1h 00mn',
 '25mn',
 '00mn',
 '2h 42mn',
 '6h 24mn',
 '12mn',
 '1h 00mn',
 '2h 44mn',
 '42mn',
 '1h 13mn',
 '',
 '16h 40mn',
 '99h 29mn',
 '',
 '',
 '06mn',
 '5h 19mn',
 '4h 12mn',
 '2h 56mn',
 '2h 48mn',
 '00mn',
 '1h 42mn',
 '4h 07mn',
 '00mn',
 '24mn',
 '',
 '21h 34mn',
 '54mn',
 '5h 32mn',
 '3h 31mn',
 '5h 25mn',
 '00mn',
 '1h 26mn',
 '5h 48mn',
 '3h 06mn',
 '3h 06mn',
 '1h 44mn',
 '',
 '30h 32mn',
 '00mn',
 '00mn',
 '06mn',
 '08mn',
 '00mn',
 '06mn',
 '5h 06mn',
 '00mn',
 '18mn',
 '00mn',
 '4h 25mn',
 '',
 '10h 09mn',
 '62h 15mn',
 '',
 '',
 '1h 54mn',
 '6h 12mn',
 '7h 44mn',
 '3h 54mn',
 '2h 12mn',
 '1h 12mn',
 '7h 13mn',
 '1h 12mn',
 '4h 05mn',
 '30mn',
 '',
 '36h 09mn',
 '1h 43mn',
 ...]

In [23]:
string = "10h 08mn"# => 10*60 + 8
string2 = ""

def get_minutes(row: str) -> int:
  row = row.split()
  if len(row) == 2:
    

    heure_en_minutes = int(row[0].replace("h",""))*60
    minutes = int(row[1].replace("mn",""))
    return heure_en_minutes + minutes
  
  elif len(row) == 0:
    return None

  else:
    minutes = int(row[0].replace("mn",""))
    return minutes
get_minutes(string2)

In [24]:
data["soleil_durée"] = data["soleil_duree"].apply(get_minutes)
jd = data['Jour  aff. décades']
data[['nom du jour','jour']] =  jd.str.split(" ", n=1, expand=True)

In [25]:
liste_supr = ["Extrêmes Décade 1","Moyennes/cumuls Décade 1","Extrêmes Décade 2",
              "Moyennes/cumuls Décade 2","Extrêmes Décade 3","Moyennes/cumuls Décade 3","Moyenneset cumuls","Maxi du mois(TNX, TXX)","Mini du mois(TNN, TXN)"]
data = data[~data["Jour  aff. décades"].isin(liste_supr)]
data

           Jour  aff. décades  ...          jour
0      date_range  Dimanche 1  ...    Dimanche 1
1         date_range  Lundi 2  ...       Lundi 2
2         date_range  Mardi 3  ...       Mardi 3
3      date_range  Mercredi 4  ...    Mercredi 4
4         date_range  Jeudi 5  ...       Jeudi 5
...                       ...  ...           ...
4723     date_range  Lundi 27  ...      Lundi 27
4724     date_range  Mardi 28  ...      Mardi 28
4725  date_range  Mercredi 29  ...   Mercredi 29
4726     date_range  Jeudi 30  ...      Jeudi 30
4727  date_range  Vendredi 31  ...   Vendredi 31

[3653 rows x 12 columns]

In [26]:
data = data.drop(["Jour  aff. décades", 'Ensoleillement  help',
                  "soleil_duree", 'nom du jour' ], axis=1 )
data['Rafale max  help'] = data['Rafale max  help'].str.replace('[km/h,@,&]', '')
data

                Tempé. min  help  ...          jour
0     +10.7  11.8  °C  22h23 UTC  ...    Dimanche 1
1       +3.0  4.1  °C  17h59 UTC  ...       Lundi 2
2       +2.6  3.7  °C  18h25 UTC  ...       Mardi 3
3       +3.2  4.3  °C  07h48 UTC  ...    Mercredi 4
4       +6.2  7.3  °C  18h01 UTC  ...       Jeudi 5
...                          ...  ...           ...
4723                         NaN  ...      Lundi 27
4724                         NaN  ...      Mardi 28
4725                         NaN  ...   Mercredi 29
4726                         NaN  ...      Jeudi 30
4727                         NaN  ...   Vendredi 31

[3653 rows x 8 columns]

In [27]:
data['jour'] = data['jour'].str.replace('[Lundi,@,&]', '')
data['jour'] = data['jour'].str.replace('[Mardi,@,&]', '')
data['jour'] = data['jour'].str.replace('[Mercredi,@,&]', '')
data['jour'] = data['jour'].str.replace('[Jeudi,@,&]', '')
data['jour'] = data['jour'].str.replace('[Vendredi,@,&]', '')
data['jour'] = data['jour'].str.replace('[Samedi,@,&]', '')
data['jour'] = data['jour'].str.replace('[Dimanche,@,&]', '')
data

                Tempé. min  help           Tempé. max  help  ... soleil_durée  jour
0     +10.7  11.8  °C  22h23 UTC  +6.8  13.5  °C  13h36 UTC  ...          0.0     1
1       +3.0  4.1  °C  17h59 UTC   +3.1  9.8  °C  12h23 UTC  ...        187.0     2
2       +2.6  3.7  °C  18h25 UTC  +5.3  12.0  °C  15h26 UTC  ...          6.0     3
3       +3.2  4.3  °C  07h48 UTC   +2.7  9.4  °C  03h01 UTC  ...        319.0     4
4       +6.2  7.3  °C  18h01 UTC  +5.3  12.0  °C  14h02 UTC  ...         18.0     5
...                          ...                        ...  ...          ...   ...
4723                         NaN                        NaN  ...          NaN    27
4724                         NaN                        NaN  ...          NaN    28
4725                         NaN                        NaN  ...          NaN    29
4726                         NaN                        NaN  ...          NaN    30
4727                         NaN                        NaN  ...          NaN    31

[3653 rows x 8 columns]

In [28]:
P = data['Précip.  help']
data[['Précipitations en mm','n']] =  P.str.split(" ", n=1, expand=True)
data

                Tempé. min  help  ...             n
0     +10.7  11.8  °C  22h23 UTC  ...      mm  56mn
1       +3.0  4.1  °C  17h59 UTC  ...   mm  5h 10mn
2       +2.6  3.7  °C  18h25 UTC  ...      mm  06mn
3       +3.2  4.3  °C  07h48 UTC  ...      mm  10mn
4       +6.2  7.3  °C  18h01 UTC  ...      mm  52mn
...                          ...  ...           ...
4723                         NaN  ...           NaN
4724                         NaN  ...           NaN
4725                         NaN  ...           NaN
4726                         NaN  ...           NaN
4727                         NaN  ...           NaN

[3653 rows x 10 columns]

In [29]:
def get_temp(row):
  if isinstance(row, str):
    first = re.sub(r"\d+ UTC ?", "", row).strip()
    return re.sub(r"/^(0[0-9]|1[0-9]|2[0-3])h[0-5][0-9]$/", "", first).strip() #(\d+)h (\d+) (([0-1]\d|[2][0-3])):(([0-5][0-9])):(([0-5][0-9]))
  else:
    return ""

data["Température minimale en °C"] = data["Tempé. min  help"].apply(get_temp)
data["Température maximale en °C"] = data["Tempé. max  help"].apply(get_temp)

list(data["Température minimale en °C"].values)

['+10.7  11.8  °C  22h',
 '+3.0  4.1  °C  17h',
 '+2.6  3.7  °C  18h',
 '+3.2  4.3  °C  07h',
 '+6.2  7.3  °C  18h',
 '+0.8  1.9  °C  18h',
 '–0.1  1.0  °C  19h',
 '+5.4  6.5  °C  07h',
 '+4.5  5.6  °C  03h',
 '+2.7  3.8  °C  05h',
 '+6.1  7.2  °C  08h',
 '–2.5  -1.4  °C  07h',
 '+1.9  3.0  °C  19h',
 '–2.7  -1.6  °C  06h',
 '–3.7  -2.6  °C  07h',
 '–3.8  -2.7  °C  06h',
 '–6.5  -5.4  °C  07h',
 '–3.7  -2.6  °C  23h',
 '+4.5  5.6  °C  18h',
 '+4.3  5.4  °C  03h',
 '+6.3  7.4  °C  01h',
 '+6.4  7.5  °C  07h',
 '+5.6  6.7  °C  04h',
 '+3.7  4.8  °C  21h',
 '+6.7  7.8  °C  18h',
 '+6.2  7.3  °C  07h',
 '–2.1  -1.0  °C  08h',
 '+0.9  2.0  °C  18h',
 '+0.0  1.1  °C  10h',
 '–1.1  0.0  °C  07h',
 '–3.1  -2.0  °C  11h',
 '–4.9  -4.0  °C  08h',
 '–8.5  -7.6  °C  07h',
 '–10.8  -9.9  °C  07h',
 '–9.5  -8.6  °C  07h',
 '–8.3  -7.4  °C  08h',
 '–15.6  -14.7  °C  22h',
 '–17.3  -16.4  °C  07h',
 '–11.6  -10.7  °C  21h',
 '–13.5  -12.6  °C  07h',
 '–11.5  -10.6  °C  01h',
 '–12.3  -11.4  °C  03h',
 '–14.3  -13.4  °C  06h',
 '–4  -3.1  °C  18h',
 '+0.3  1.2  °C  20h',
 '+0.2  1.1  °C  00h',
 '+1.5  2.4  °C  06h',
 '+0.9  1.8  °C  07h',
 '+5.3  6.2  °C  06h',
 '–0.4  0.5  °C  07h',
 '–5.7  -4.8  °C  07h',
 '–6.4  -5.5  °C  05h',
 '–5.7  -4.8  °C  06h',
 '+2.5  3.4  °C  19h',
 '+7.7  8.6  °C  07h',
 '+5.6  6.5  °C  21h',
 '+1.6  2.5  °C  07h',
 '–1.6  -0.7  °C  06h',
 '–1.5  -0.6  °C  03h',
 '–0.9  0.0  °C  06h',
 '+3.2  6.2  °C  22h',
 '+4.9  7.9  °C  04h',
 '+0.0  3.0  °C  03h',
 '+2.7  5.7  °C  02h',
 '–1.9  1.1  °C  05h',
 '–0.4  2.6  °C  03h',
 '–4.5  -1.5  °C  04h',
 '–2.5  0.5  °C  06h',
 '–4.8  -1.8  °C  07h',
 '–0.8  2.2  °C  02h',
 '+4.6  7.6  °C  07h',
 '–0.6  2.4  °C  02h',
 '+2.3  5.3  °C  05h',
 '–1.3  1.7  °C  06h',
 '–2.6  0.4  °C  06h',
 '+0.9  3.9  °C  06h',
 '+2.8  5.8  °C  02h',
 '+2.3  5.3  °C  16h',
 '+0.0  3.0  °C  03h',
 '–4.8  -1.8  °C  05h',
 '–2  1.0  °C  05h',
 '+2.8  5.8  °C  06h',
 '–0.1  2.9  °C  06h',
 '+1.3  4.3  °C  06h',
 '+1.9  4.9  °C  06h',
 '+2.5  5.5  °C  06h',
 '+0.9  3.9  °C  05h',
 '+2.0  5.0  °C  06h',
 '+3.6  6.6  °C  05h',
 '+1.3  4.3  °C  05h',
 '+0.6  3.6  °C  05h',
 '–3.5  1.3  °C  06h',
 '–5  -0.2  °C  05h',
 '–4.9  -0.1  °C  05h',
 '–4  0.8  °C  04h',
 '–2.5  2.3  °C  05h',
 '+0.7  5.5  °C  04h',
 '–3.9  0.9  °C  05h',
 '–4.7  0.1  °C  05h',
 '+4.0  8.8  °C  02h',
 '+2.8  7.6  °C  15h',
 '–1.5  3.3  °C  01h',
 '–3  1.8  °C  05h',
 '–4.1  0.7  °C  05h',
 '+1.4  6.2  °C  04h',
 '–1.5  3.3  °C  04h',
 '–4.5  0.3  °C  05h',
 '–7.3  -2.5  °C  03h',
 '–0.1  4.7  °C  02h',
 '–0.2  4.6  °C  19h',
 '–1.1  3.7  °C  04h',
 '+0.3  5.1  °C  11h',
 '–0.7  4.1  °C  04h',
 '–1  3.8  °C  05h',
 '+2.1  6.9  °C  21h',
 '+1.8  6.6  °C  23h',
 '+4.1  8.9  °C  21h',
 '+3.9  8.7  °C  06h',
 '+4.5  9.3  °C  03h',
 '+6.4  11.2  °C  09h',
 '+1.0  5.8  °C  05h',
 '–1  7.6  °C  05h',
 '–2.7  5.9  °C  02h',
 '+0.9  9.5  °C  04h',
 '+1.3  9.9  °C  02h',
 '–0.6  8.0  °C  01h',
 '+0.7  9.3  °C  06h',
 '–2.3  6.3  °C  04h',
 '+3.4  12.0  °C  23h',
 '+5.8  14.4  °C  02h',
 '+6.7  15.3  °C  00h',
 '+6.6  15.2  °C  17h',
 '+1.4  10.0  °C  04h',
 '–3.7  4.9  °C  05h',
 '–6.1  2.5  °C  03h',
 '–2.9  5.7  °C  04h',
 '–7.2  1.4  °C  03h',
 '–4.1  4.5  °C  04h',
 '+0.5  9.1  °C  23h',
 '–1  7.6  °C  04h',
 '+3.2  11.8  °C  04h',
 '+1.4  10.0  °C  01h',
 '+3.1  11.7  °C  23h',
 '+3.7  12.3  °C  01h',
 '+2.9  11.5  °C  04h',
 '+6.5  15.1  °C  04h',
 '+1.4  10.0  °C  04h',
 '+4.8  13.4  °C  04h',
 '+2.3  10.9  °C  04h',
 '+1.3  9.9  °C  03h',
 '+2.8  11.4  °C  04h',
 '+3.3  11.9  °C  03h',
 '–1.4  10.1  °C  04h',
 '–1  10.5  °C  04h',
 '+3.7  15.2  °C  09h',
 '–1.3  10.2  °C  04h',
 '–5.8  5.7  °C  02h',
 '+2.0  13.5  °C  04h',
 '+2.6  14.1  °C  04h',
 '+1.2  12.7  °C  01h',
 '–4.3  7.2  °C  04h',
 '–0.2  11.3  °C  02h',
 '+0.7  12.2  °C  04h',
 '–1.3  10.2  °C  04h',
 '–1  10.5  °C  05h',
 '–3.5  8.0  °C  04h',
 '+2.9  14.4  °C  06h',
 '+2.2  13.7  °C  07h',
 '–3.3  8.2  °C  03h',
 '+1.2  12.7  °C  04h',
 '+0.4  11.9  °C  00h',
 '–0.1  11.4  °C  04h',
 '+5.6  17.1  °C  04h',
 '+0.4  11.9  °C  02h',
 '–2.8  8.7  °C  04h',
 '–0.3  11.2  °C  03h',
 '+2.7  14.2  °C  05h',
 '+4.0  15.5  °C  23h',
 '+3.9  15.4  °C  04h',
 '+4.7  16.2  °C  03h',
 '+2.8  14.3  °C  04h',
 '+0.6  12.1  °C  02h',
 '–2.3  11.0  °C  05h',
 '–4.9  8.4  °C  04h',
 '–0.1  13.2  °C  00h',
 '+2.4  15.7  °C  02h',
 '+2.0  15.3  °C  13h',
 '–0.5  12.8  °C  04h',
 '–1.3  12.0  °C  02h',
 '+1.7  15.0  °C  01h',
 '+0.0  13.3  °C  23h',
 '+0.5  13.8  °C  01h',
 '–1.5  11.8  °C  01h',
 '–1.9  11.4  °C  03h',
 '+0.1  13.4  °C  03h',
 '–1.7  11.6  °C  04h',
 '–1  12.3  °C  04h',
 '–5.6  7.7  °C  03h',
 '–0.7  12.6  °C  02h',
 '+0.9  14.2  °C  02h',
 '+1.4  14.7  °C  04h',
 '+0.0  13.3  °C  04h',
 '–5.8  7.5  °C  04h',
 '–3.6  9.7  °C  04h',
 '–3.1  10.2  °C  03h',
 '–2.7  10.6  °C  04h',
 '+1.0  14.3  °C  03h',
 '+2.6  15.9  °C  04h',
 '+4.8  18.1  °C  01h',
 '+3.7  17.0  °C  02h',
 '–3.8  9.5  °C  04h',
 '–1.1  12.2  °C  03h',
 '–1.8  11.5  °C  03h',
 '–1.4  11.8  °C  03h',
 '+1.3  14.5  °C  03h',
 '–1.2  12.0  °C  03h',
 '+0.0  13.2  °C  04h',
 '–1  12.2  °C  04h',
 '+0.6  13.8  °C  03h',
 '–1.8  11.4  °C  04h',
 '–3  10.2  °C  04h',
 '–0.4  12.8  °C  05h',
 '–0.4  12.8  °C  05h',
 '–3  10.2  °C  05h',
 '+0.1  13.3  °C  01h',
 '+0.7  13.9  °C  04h',
 '+0.3  13.5  °C  04h',
 '+4.3  17.5  °C  00h',
 '–1.3  11.9  °C  05h',
 '+2.5  15.7  °C  04h',
 '+3.8  17.0  °C  05h',
 '+3.3  16.5  °C  05h',
 '+3.6  16.8  °C  05h',
 '+5.2  18.4  °C  05h',
 '–1.5  11.7  °C  05h',
 '–2.2  11.0  °C  03h',
 '–0.3  12.9  °C  05h',
 '+2.6  15.8  °C  20h',
 '+0.5  13.7  °C  02h',
 '+0.1  13.3  °C  05h',
 '+3.9  17.1  °C  05h',
 '–0.2  13.0  °C  03h',
 '+0.6  13.8  °C  05h',
 '–3.6  9.6  °C  05h',
 '–5  5.5  °C  04h',
 '–2.8  7.7  °C  03h',
 '–0.5  10.0  °C  02h',
 '+2.3  12.8  °C  05h',
 '+3.3  13.8  °C  05h',
 '–1.2  9.3  °C  05h',
 '–2.7  7.8  °C  05h',
 '–1.7  8.8  °C  05h',
 '–1.9  8.6  °C  04h',
 '+5.8  16.3  °C  06h',
 '+4.2  14.7  °C  13h',
 '–0.5  10.0  °C  06h',
 '+0.9  11.4  °C  06h',
 '–4.9  5.6  °C  04h',
 '–1.1  9.4  °C  03h',
 '–3.5  7.0  °C  05h',
 '–1  9.5  °C  05h',
 '–0.2  10.3  °C  05h',
 '–5.7  4.8  °C  04h',
 '–7.6  2.9  °C  05h',
 '–7.5  3.0  °C  06h',
 '+0.2  10.7  °C  05h',
 '–1.3  9.2  °C  02h',
 '+4.2  14.7  °C  10h',
 '+0.9  11.4  °C  06h',
 '+0.7  11.2  °C  04h',
 '+1.7  12.2  °C  01h',
 '–3  7.5  °C  06h',
 '–4.7  5.8  °C  04h',
 '–8  2.5  °C  05h',
 '–4.4  3.5  °C  03h',
 '+4.9  12.8  °C  03h',
 '+4.8  12.7  °C  04h',
 '+4.6  12.5  °C  07h',
 '+6.4  14.3  °C  22h',
 '+5.4  13.3  °C  01h',
 '+2.9  10.8  °C  03h',
 '+3.6  11.5  °C  05h',
 '+7.1  15.0  °C  22h',
 '+7.4  15.3  °C  05h',
 '+5.7  13.6  °C  01h',
 '+2.8  10.7  °C  05h',
 '+0.8  8.7  °C  06h',
 '–1.9  6.0  °C  17h',
 '–5.1  2.8  °C  05h',
 '+1.0  8.9  °C  20h',
 '+0.7  8.6  °C  21h',
 '+4.8  12.7  °C  21h',
 '+5.8  13.7  °C  01h',
 '+4.8  12.7  °C  06h',
 '+6.4  14.3  °C  03h',
 '+4.5  12.4  °C  05h',
 '+1.7  9.6  °C  06h',
 '+1.7  9.6  °C  05h',
 '–1.3  6.6  °C  00h',
 '+0.8  8.7  °C  18h',
 '–7  0.9  °C  06h',
 '–8.3  -0.4  °C  06h',
 '–5.5  2.4  °C  06h',
 '–6.2  1.7  °C  06h',
 '–9.6  -1.7  °C  06h',
 '+1.5  5.5  °C  14h',
 '+0.8  4.8  °C  03h',
 '+3.7  7.7  °C  18h',
 '+2.7  6.7  °C  20h',
 '+1.0  5.0  °C  23h',
 '–0.7  3.3  °C  07h',
 '–2  2.0  °C  20h',
 '–1.7  2.3  °C  06h',
 '–4.4  -0.4  °C  03h',
 '+4.5  8.5  °C  17h',
 '+0.9  4.9  °C  17h',
 '–2  2.0  °C  21h',
 '–1.1  2.9  °C  07h',
 '–1.5  2.5  °C  05h',
 '–1.3  2.7  °C  08h',
 '–1.9  2.1  °C  08h',
 '+1.6  5.6  °C  20h',
 '+2.8  6.8  °C  19h',
 '+4.2  8.2  °C  07h',
 '+2.6  6.6  °C  07h',
 '+1.8  5.8  °C  04h',
 '–0.8  3.2  °C  07h',
 '+2.0  6.0  °C  20h',
 '+2.0  6.0  °C  05h',
 '+4.4  8.4  °C  17h',
 '+2.5  6.5  °C  21h',
 '+1.7  5.7  °C  01h',
 '+0.7  4.7  °C  01h',
 '–0.3  3.7  °C  17h',
 '–5.5  -1.5  °C  04h',
 '–3.9  -2.2  °C  21h',
 '–1.8  -0.1  °C  17h',
 '–2.1  -0.4  °C  18h',
 '+1.4  3.1  °C  17h',
 '–0.5  1.2  °C  00h',
 '–4.9  -3.2  °C  06h',
 '–1.7  0.0  °C  04h',
 '+0.6  2.3  °C  05h',
 '–2.7  -1.0  °C  00h',
 '+0.3  2.0  °C  07h',
 '–3.5  -1.8  °C  17h',
 '–6.8  -5.1  °C',
 '–5.6  -3.9  °C  22h',
 '+2.1  3.8  °C  23h',
 '+5.6  7.3  °C  05h',
 '+5.2  6.9  °C  06h',
 '+4.1  5.8  °C  03h',
 '+3.2  4.9  °C  23h',
 '+0.6  2.3  °C  05h',
 '+4.3  6.0  °C  07h',
 '+3.0  4.7  °C  17h',
 '+3.0  4.7  °C  18h',
 '+10.2  11.9  °C  08h',
 '+5.3  7.0  °C  05h',
 '+6.9  8.6  °C  17h',
 '+3.7  5.4  °C  07h',
 '+6.6  8.3  °C  17h',
 '+3.7  5.4  °C  00h',
 '+4.7  6.4  °C  07h',
 '+3.7  5.4  °C  06h',
 '+5.1  6.8  °C  04h',
 '+2.2  3.3  °C  17h',
 '–0.5  0.6  °C  23h',
 '+5.0  6.1  °C  18h',
 '+6.9  8.0  °C  07h',
 '+6.1  7.2  °C  07h',
 '+5.0  6.1  °C  05h',
 '+4.2  5.3  °C  17h',
 '+1.8  2.9  °C  09h',
 '+1.3  2.4  °C  05h',
 '+2.0  3.1  °C  22h',
 '+2.7  3.8  °C  18h',
 '+1.1  2.2  °C  19h',
 '+1.7  2.8  °C  02h',
 '–3.7  -2.6  °C  05h',
 '–0.4  0.7  °C  08h',
 '–4.1  -3.0  °C  04h',
 '–8.1  -7.0  °C  08h',
 '–8.6  -7.5  °C  01h',
 '–3.2  -2.1  °C  18h',
 '–4.6  -3.5  °C  09h',
 '–3.5  -2.4  °C  03h',
 '–1.5  -0.4  °C  03h',
 '+0.5  1.6  °C  05h',
 '–0.7  0.4  °C  07h',
 '–4.5  -3.4  °C  04h',
 '–4.1  -3.0  °C  22h',
 '+0.5  1.6  °C  18h',
 '+1.0  2.1  °C  21h',
 '+7.1  8.2  °C  18h',
 '+7.7  8.8  °C  17h',
 '+3.4  4.5  °C  02h',
 '+6.2  7.1  °C  08h',
 '+1.9  2.8  °C  17h',
 '–2.4  -1.5  °C  05h',
 '+2.5  3.4  °C  18h',
 '+0.8  1.7  °C  17h',
 '+0.3  1.2  °C  21h',
 '+0.0  0.9  °C  06h',
 '–0.1  0.8  °C  06h',
 '–2.2  -1.3  °C  21h',
 '–1  -0.1  °C  04h',
 '+2.7  3.6  °C  09h',
 '–0.5  0.4  °C  00h',
 '–1  -0.1  °C  05h',
 '–1.7  -0.8  °C  01h',
 '+0.5  1.4  °C  07h',
 '–2.3  -1.4  °C  03h',
 '–1.3  -0.4  °C  01h',
 '–2.5  -1.6  °C  07h',
 '–4.8  -3.9  °C  06h',
 '–2.3  -1.4  °C  04h',
 '–3.8  -2.9  °C  06h',
 '–5.1  -4.2  °C  06h',
 '–6.4  -5.5  °C  07h',
 '–3.7  -2.8  °C  01h',
 '–2.4  -1.5  °C  02h',
 '–1.1  -0.2  °C  09h',
 '–0.2  0.7  °C  21h',
 '+0.8  1.7  °C  03h',
 '–2.3  0.7  °C  02h',
 '–2.2  0.8  °C  08h',
 '–2.7  0.3  °C  06h',
 '–4.8  -1.8  °C  06h',
 '+2.3  5.3  °C  05h',
 '+6.6  9.6  °C  04h',
 '+6.2  9.2  °C  07h',
 '+7.8  10.8  °C  00h',
 '+5.3  8.3  °C  06h',
 '–0.8  2.2  °C  05h',
 '+0.2  3.2  °C  05h',
 '–4.9  -1.9  °C  17h',
 '–9.5  -6.5  °C  06h',
 '–4.3  -1.3  °C  02h',
 '–8  -5.0  °C  05h',
 '–2  1.0  °C  03h',
 '+1.8  4.8  °C  05h',
 '–2.4  0.6  °C  01h',
 '–0.5  2.5  °C  02h',
 '+0.8  3.8  °C  06h',
 '–2.1  0.9  °C  05h',
 '+1.4  4.4  °C  05h',
 '+2.4  5.4  °C  03h',
 '+1.2  4.2  °C  07h',
 '–0.5  2.5  °C  08h',
 '–2  1.0  °C  23h',
 '–4.1  -1.1  °C  02h',
 '–1.6  1.4  °C  06h',
 '–6.2  -3.2  °C  02h',
 '–1.8  1.2  °C  06h',
 '–6.4  -3.4  °C  05h',
 '–7.6  -2.8  °C  05h',
 '–5.8  -1.0  °C  05h',
 '–6.6  -1.8  °C  02h',
 '–4.4  0.4  °C  05h',
 '–4.3  0.5  °C  07h',
 '',
 '–6.8  -2.0  °C  05h',
 '–0.8  4.0  °C  00h',
 '+0.4  5.2  °C  00h',
 '+2.3  7.1  °C  04h',
 '+5.4  10.2  °C  18h',
 '+3.4  8.2  °C  02h',
 '+1.4  6.2  °C  04h',
 '+5.4  10.2  °C  05h',
 '+4.6  9.4  °C  02h',
 '+4.6  9.4  °C  04h',
 '+5.8  10.6  °C  04h',
 '+6.6  11.4  °C  07h',
 '–2.7  2.1  °C  05h',
 '–1.7  3.1  °C  04h',
 '–2.8  2.0  °C  04h',
 '–3.2  1.6  °C  03h',
 '–1.2  3.6  °C  05h',
 '+0.3  5.1  °C  05h',
 '+2.5  7.3  °C  04h',
 '+3.4  8.2  °C  18h',
 '–2.5  2.3  °C  05h',
 '–1.2  3.6  °C  06h',
 '–5.1  -0.3  °C  05h',
 '+2.2  7.0  °C  06h',
 '–0.7  7.9  °C  05h',
 '–4.9  3.7  °C  01h',
 '–2.9  5.7  °C  05h',
 '–6.3  2.3  °C  04h',
 '+0.9  9.5  °C  03h',
 '–2.3  6.3  °C  04h',
 '–0.9  7.7  °C  03h',
 '+3.8  12.4  °C  00h',
 '+1.0  9.6  °C  06h',
 '–2  6.6  °C  03h',
 '+0.8  9.4  °C  04h',
 '–2  6.6  °C  04h',
 '+1.7  10.3  °C  05h',
 '+1.1  9.7  °C  04h',
 '–1.3  7.3  °C  05h',
 '–1.1  7.5  °C  03h',
 '–3.9  4.7  °C  04h',
 '–2.4  6.2  °C  03h',
 '–3.7  4.9  °C  03h',
 '+1.1  9.7  °C  05h',
 '+1.3  9.9  °C  20h',
 '–1.6  7.0  °C  02h',
 '–1.4  7.2  °C  03h',
 '–7.2  1.4  °C  02h',
 '–5.2  3.4  °C  22h',
 '–7.3  1.3  °C  04h',
 '–4.1  4.5  °C  03h',
 '+1.8  10.4  °C  03h',
 '–1.9  6.7  °C  04h',
 '+0.2  8.8  °C  04h',
 '+0.1  8.7  °C  01h',
 '–3.2  8.3  °C  04h',
 '–3  8.5  °C  02h',
 '–5.4  6.1  °C  04h',
 '–4.8  6.7  °C  04h',
 '–4  7.5  °C  04h',
 '–0.1  11.4  °C  04h',
 '+0.8  12.3  °C  04h',
 '+2.1  13.6  °C  04h',
 '+1.6  13.1  °C  06h',
 '+0.4  11.9  °C  07h',
 '+1.3  12.8  °C  05h',
 '+3.3  14.8  °C  00h',
 '+1.3  12.8  °C  14h',
 '–2.4  9.1  °C  02h',
 '–0.5  11.0  °C',
 '–1.7  9.8  °C',
 '+3.5  15.0  °C  05h',
 '+5.1  16.6  °C  02h',
 '+4.4  15.9  °C  06h',
 '+2.5  14.0  °C  03h',
 '+1.2  12.7  °C  09h',
 '+1.6  13.1  °C  02h',
 '+0.8  12.3  °C  04h',
 '–1  10.5  °C  04h',
 '–5.3  6.2  °C  04h',
 '–5.1  6.4  °C  04h',
 '–1  10.5  °C  04h',
 '+0.2  11.7  °C  05h',
 '+2.1  13.6  °C  06h',
 '–3.2  8.3  °C  04h',
 '–1.9  11.4  °C  03h',
 '–0.4  12.9  °C  04h',
 '+1.6  14.9  °C  03h',
 '–2.9  10.4  °C  04h',
 '–1.1  12.2  °C  03h',
 '–0.3  13.0  °C  04h',
 '+2.3  15.6  °C  04h',
 '+2.4  15.7  °C  04h',
 '+2.0  15.3  °C  03h',
 '+1.2  14.5  °C  04h',
 '–1.1  12.2  °C  04h',
 '–2.5  10.8  °C  03h',
 '–2.2  11.1  °C  04h',
 '–1.6  11.7  °C  01h',
 '+0.5  13.8  °C  03h',
 '+2.4  15.7  °C  04h',
 '+0.1  13.4  °C  04h',
 '+1.9  15.2  °C  04h',
 '+4.9  18.2  °C  04h',
 '+3.1  16.4  °C  04h',
 '+3.8  17.1  °C  04h',
 '+4.0  17.3  °C  04h',
 '+5.5  18.8  °C  04h',
 '+4.0  17.3  °C  05h',
 '+3.0  16.3  °C  03h',
 '+6.2  19.5  °C  04h',
 '+4.6  17.9  °C  04h',
 '+2.5  15.8  °C  05h',
 '+1.5  14.8  °C  04h',
 '+1.6  14.9  °C  03h',
 '+4.8  18.1  °C  02h',
 '+3.8  17.0  °C  04h',
 '+6.3  19.5  °C  04h',
 '+3.0  16.2  °C  04h',
 '–0.8  12.4  °C  04h',
 '+0.5  13.7  °C  04h',
 '–0.6  12.6  °C  04h',
 '+1.8  15.0  °C  21h',
 '+0.5  13.7  °C  05h',
 '+0.0  13.2  °C  03h',
 '–2.7  10.5  °C  04h',
 '–2.6  10.6  °C  00h',
 '+2.1  15.3  °C  03h',
 '–4.9  8.3  °C  04h',
 '–6.2  7.0  °C  04h',
 '–3.5  9.7  °C  03h',
 '–2  11.2  °C  03h',
 '–0.2  13.0  °C  05h',
 '+4.8  18.0  °C  05h',
 '+0.4  13.6  °C  05h',
 '–5.2  8.0  °C  05h',
 '–4.2  9.0  °C  04h',
 '–0.5  12.7  °C  05h',
 '–1.9  11.3  °C  04h',
 '+3.2  16.4  °C  15h',
 '–2.6  10.6  °C  04h',
 '–1.4  11.8  °C  06h',
 '–0.4  12.8  °C  22h',
 '–1.6  11.6  °C  05h',
 '–3.8  9.4  °C  05h',
 '–4.2  9.0  °C  05h',
 '–2.1  11.1  °C  03h',
 '–1  9.5  °C  05h',
 '–3.4  7.1  °C  05h',
 '–2.1  8.4  °C  05h',
 '+1.2  11.7  °C  05h',
 '+4.9  15.4  °C  02h',
 '+4.0  14.5  °C  03h',
 '–0.6  9.9  °C  06h',
 '–3.7  6.8  °C  05h',
 '–0.1  10.4  °C  00h',
 '–1.2  9.3  °C  04h',
 '–3  7.5  °C  22h',
 '+0.6  11.1  °C',
 '–0.2  10.3  °C  22h',
 '+2.3  12.8  °C  17h',
 '+0.1  10.6  °C  05h',
 '+0.6  11.1  °C  17h',
 '–2.4  8.1  °C  00h',
 '+3.7  14.2  °C  17h',
 '–4.8  5.7  °C  05h',
 '+2.2  12.7  °C  05h',
 '–3.7  6.8  °C  03h',
 '+0.2  10.7  °C  03h',
 '+0.8  11.3  °C  05h',
 '–1.4  9.1  °C  05h',
 '–1.5  9.0  °C  04h',
 '+3.9  14.4  °C  01h',
 '+3.2  13.7  °C  06h',
 '+6.0  16.5  °C  16h',
 '+3.9  14.4  °C  00h',
 '+3.3  13.8  °C  03h',
 '+3.1  11.0  °C  01h',
 '+5.8  13.7  °C  05h',
 '+7.8  15.7  °C  01h',
 '+7.4  15.3  °C  06h',
 '+6.1  14.0  °C  05h',
 '+2.3  10.2  °C  03h',
 '+4.9  12.8  °C  21h',
 '+3.7  11.6  °C  02h',
 '+5.2  13.1  °C  02h',
 '–1.6  6.3  °C  06h',
 '–1.4  6.5  °C  01h',
 '–1.5  6.4  °C  04h',
 '–6  1.9  °C  04h',
 '–0.4  7.5  °C  21h',
 '+2.9  10.8  °C  23h',
 '+0.9  8.8  °C  03h',
 '+0.7  8.6  °C  23h',
 '–1.8  6.1  °C',
 '+2.8  10.7  °C  21h',
 '+4.8  12.7  °C  04h',
 '+4.3  12.2  °C  06h',
 '+6.6  14.5  °C  06h',
 '+7.2  15.1  °C  06h',
 '+4.3  12.2  °C  07h',
 '+6.3  14.2  °C  01h',
 '+7.0  14.9  °C  06h',
 '+3.5  11.4  °C  09h',
 '+4.2  12.1  °C  17h',
 '–0.4  7.5  °C  17h',
 '–4.8  3.1  °C  06h',
 '–5.1  2.8  °C  03h',
 '+4.3  8.3  °C  07h',
 '+4.8  8.8  °C  21h',
 '+2.8  6.8  °C  06h',
 '+2.2  6.2  °C  17h',
 '–1.1  2.9  °C  00h',
 '+7.0  11.0  °C  19h',
 '+9.1  13.1  °C  06h',
 '+7.0  11.0  °C  06h',
 '+1.2  5.2  °C  07h',
 '+1.2  5.2  °C  17h',
 '–5  -1.0  °C  04h',
 '+2.8  6.8  °C  07h',
 '+0.7  4.7  °C  17h',
 '–4.7  -0.7  °C  03h',
 '–1.4  2.6  °C  21h',
 '–3.6  0.4  °C  07h',
 '–0.9  3.1  °C  19h',
 '+0.4  4.4  °C  00h',
 '–4.4  -0.4  °C  00h',
 '–5.4  -1.4  °C  07h',
 '–2.2  1.8  °C  07h',
 '–3  1.0  °C  08h',
 '+0.1  4.1  °C  18h',
 '–3.5  0.5  °C  07h',
 '–0.6  3.4  °C  07h',
 '–2.4  1.6  °C  07h',
 '–1.5  2.5  °C  17h',
 '–6  -2.0  °C  04h',
 '+0.3  4.3  °C  19h',
 '–2.2  1.8  °C  06h',
 '+1.0  2.7  °C  03h',
 '+1.8  3.5  °C  22h',
 '–4.1  -2.4  °C  06h',
 '–4.8  -3.1  °C  06h',
 '+2.2  3.9  °C  17h',
 '–0.6  1.1  °C  17h',
 '–2.5  -0.8  °C  21h',
 '–2.3  -0.6  °C  06h',
 '–5.7  -4.0  °C  06h',
 '–6.1  -4.4  °C  08h',
 '–6.4  -4.7  °C  05h',
 '–6.3  -4.6  °C  04h',
 '–5  -3.3  °C  03h',
 '+0.6  2.3  °C  03h',
 '+0.2  1.9  °C  08h',
 '+0.7  2.4  °C  06h',
 '–0.2  1.5  °C  05h',
 '+5.5  7.2  °C  06h',
 '+2.8  4.5  °C  18h',
 '–1.4  0.3  °C  05h',
 '+0.7  2.4  °C  00h',
 '+2.6  4.3  °C  22h',
 '+6.0  7.7  °C  03h',
 '+7.0  8.7  °C  17h',
 '+3.3  5.0  °C  17h',
 '+1.0  2.7  °C  07h',
 '+2.0  3.7  °C  22h',
 '+3.2  4.9  °C  17h',
 '+1.1  2.8  °C  07h',
 '–0.4  1.3  °C  04h',
 '+3.7  5.4  °C  06h',
 '+5.3  6.4  °C  01h',
 '+6.8  7.9  °C  08h',
 '+7.2  8.3  °C  21h',
 '+5.2  6.3  °C  05h',
 '+2.3  3.4  °C  01h',
 '+6.6  7.7  °C  20h',
 '+6.9  8.0  °C  02h',
 '+8.0  9.1  °C  08h',
 '+7.3  8.4  °C  17h',
 '+3.9  5.0  °C  17h',
 '+3.7  4.8  °C  08h',
 '+3.2  4.3  °C  21h',
 '+5.3  6.4  °C  06h',
 '+1.5  2.6  °C  17h',
 '+0.7  1.8  °C  21h',
 '+6.1  7.2  °C  17h',
 '+4.4  5.5  °C  07h',
 '+1.2  2.3  °C  04h',
 '+3.0  4.1  °C  17h',
 '+1.3  2.4  °C  04h',
 '+0.2  1.3  °C  08h',
 '–0.5  0.6  °C  03h',
 '+2.5  3.6  °C  21h',
 '+3.6  4.7  °C  00h',
 '+1.9  3.0  °C  08h',
 '+2.1  3.2  °C  05h',
 '+0.9  2.0  °C  08h',
 '+1.0  2.1  °C  01h',
 '+2.6  3.7  °C  07h',
 '+1.9  3.0  °C  02h',
 '–2.4  -1.3  °C  05h',
 '+4.8  5.7  °C  18h',
 '+0.1  1.0  °C  06h',
 '–1  -0.1  °C  05h',
 '+2.4  3.3  °C  07h',
 '+4.2  5.1  °C  00h',
 '+3.8  4.7  °C  05h',
 '+6.7  7.6  °C  06h',
 '+5.1  6.0  °C  17h',
 '+2.4  3.3  °C  05h',
 '+2.5  3.4  °C  05h',
 '+0.4  1.3  °C  05h',
 '+0.0  0.9  °C  06h',
 '+2.8  3.7  °C  17h',
 '+0.9  1.8  °C  19h',
 '+5.4  6.3  °C  11h',
 '+3.0  3.9  °C  07h',
 '+1.4  2.3  °C  04h',
 '+2.8  3.7  °C  06h',
 '+4.2  5.1  °C  00h',
 '+7.3  8.2  °C  03h',
 '+4.1  5.0  °C  17h',
 '+3.1  4.0  °C  00h',
 '+3.8  4.7  °C  02h',
 '+2.6  3.5  °C  04h',
 '+6.8  7.7  °C  17h',
 '+1.5  2.4  °C  07h',
 '+2.1  3.0  °C  03h',
 '+3.7  4.6  °C  16h',
 '+0.1  3.1  °C  02h',
 '–5.2  -2.2  °C  06h',
 '+0.8  3.8  °C  06h',
 '–1.8  1.2  °C  06h',
 '–3.8  -0.8  °C  05h',
 '–4.2  -1.2  °C  06h',
 '–4.1  -1.1  °C  05h',
 '–2.6  0.4  °C  06h',
 '+1.9  4.9  °C  05h',
 '–1.2  1.8  °C  06h',
 '+2.0  5.0  °C  06h',
 '+0.7  3.7  °C  06h',
 '–2.7  0.3  °C  06h',
 '–0.7  2.3  °C  05h',
 '+2.1  5.1  °C  05h',
 '–0.3  2.7  °C  06h',
 '–1.1  1.9  °C  05h',
 '–0.9  2.1  °C  02h',
 '+0.5  3.5  °C  06h',
 '+0.4  3.4  °C  03h',
 '+5.6  8.6  °C  04h',
 '+3.9  6.9  °C  06h',
 '–1.7  1.3  °C  04h',
 '–4.2  -1.2  °C  06h',
 '+1.9  4.9  °C  06h',
 '–1.7  1.3  °C  06h',
 '–1.7  1.3  °C  02h',
 '–0.1  2.9  °C  05h',
 '+3.6  6.6  °C  05h',
 '+6.0  9.0  °C  02h',
 '+3.8  6.8  °C  05h',
 '+1.3  6.1  °C  05h',
 '+3.2  8.0  °C  04h',
 '+6.8  11.6  °C  21h',
 '+4.9  9.7  °C  06h',
 '–0.2  4.6  °C  06h',
 '+6.2  11.0  °C  05h',
 '+5.0  9.8  °C  05h',
 '+1.4  6.2  °C  05h',
 '–3.9  0.9  °C  05h',
 '–2  2.8  °C  05h',
 '+1.0  5.8  °C  03h',
 '–1.7  3.1  °C  04h',
 '–1  3.8  °C  05h',
 '–2  2.8  °C  05h',
 '–3.8  1.0  °C  05h',
 '–4.1  0.7  °C  05h',
 '–4.2  0.6  °C  05h',
 '+4.7  9.5  °C  04h',
 '–3.6  1.2  °C  05h',
 '–0.7  4.1  °C  05h',
 '+4.4  9.2  °C  05h',
 '+1.9  6.7  °C  02h',
 '+0.7  5.5  °C  05h',
 '+5.5  10.3  °C  05h',
 '+6.2  11.0  °C  03h',
 '+2.0  6.8  °C  04h',
 '+2.6  7.4  °C  01h',
 '+3.5  8.3  °C  22h',
 '+1.6  6.4  °C  02h',
 '+4.2  9.0  °C  03h',
 '–0.3  8.3  °C  02h',
 '–0.5  8.1  °C  05h',
 '–4.2  4.4  °C  05h',
 '–6.3  2.3  °C  04h',
 '–4.8  3.8  °C  04h',
 '+3.4  12.0  °C  05h',
 '+1.1  9.7  °C  04h',

In [30]:
data = data.drop(['Tempé. min  help', 'Tempé. max  help', 'Précip.  help'], axis=1 )
data

     Rafale max  help  ... Température maximale en °C
0              64.8    ...        +6.8  13.5  °C  13h
1              55.6    ...         +3.1  9.8  °C  12h
2              72.2    ...        +5.3  12.0  °C  15h
3              56.5    ...         +2.7  9.4  °C  03h
4              81.5    ...        +5.3  12.0  °C  14h
...               ...  ...                        ...
4723              NaN  ...
4724              NaN  ...
4725              NaN  ...
4726              NaN  ...
4727              NaN  ...

[3653 rows x 9 columns]

In [31]:
data = data.drop(['n'], axis=1 )
data = data.dropna()
data["station"] = "orleans-bricy"
data['Précipitations en mm'] = data['Précipitations en mm'].str.replace('[h,@,&]', '')
data

     Rafale max  help      mois  ...  Température maximale en °C        station
0              64.8     janvier  ...         +6.8  13.5  °C  13h  orleans-bricy
1              55.6     janvier  ...          +3.1  9.8  °C  12h  orleans-bricy
2              72.2     janvier  ...         +5.3  12.0  °C  15h  orleans-bricy
3              56.5     janvier  ...          +2.7  9.4  °C  03h  orleans-bricy
4              81.5     janvier  ...         +5.3  12.0  °C  14h  orleans-bricy
...               ...       ...  ...                         ...            ...
4695           59.0    decembre  ...         +4.6  11.6  °C  04h  orleans-bricy
4696           62.3    decembre  ...         +4.5  11.5  °C  06h  orleans-bricy
4697           50.4    decembre  ...          –0.6  6.4  °C  12h  orleans-bricy
4698           43.2    decembre  ...          +0.1  7.1  °C  15h  orleans-bricy
4699           46.8    decembre  ...          +0.5  7.5  °C  13h  orleans-bricy

[3554 rows x 9 columns]

In [32]:
data['Précipitations en mm'] = data['Précipitations en mm'].astype(float)
data

     Rafale max  help      mois  ...  Température maximale en °C        station
0              64.8     janvier  ...         +6.8  13.5  °C  13h  orleans-bricy
1              55.6     janvier  ...          +3.1  9.8  °C  12h  orleans-bricy
2              72.2     janvier  ...         +5.3  12.0  °C  15h  orleans-bricy
3              56.5     janvier  ...          +2.7  9.4  °C  03h  orleans-bricy
4              81.5     janvier  ...         +5.3  12.0  °C  14h  orleans-bricy
...               ...       ...  ...                         ...            ...
4695           59.0    decembre  ...         +4.6  11.6  °C  04h  orleans-bricy
4696           62.3    decembre  ...         +4.5  11.5  °C  06h  orleans-bricy
4697           50.4    decembre  ...          –0.6  6.4  °C  12h  orleans-bricy
4698           43.2    decembre  ...          +0.1  7.1  °C  15h  orleans-bricy
4699           46.8    decembre  ...          +0.5  7.5  °C  13h  orleans-bricy

[3554 rows x 9 columns]

In [33]:
data['Rafale max  help'] = data['Rafale max  help'].astype(float)
data = data.replace(['janvier','fevrier','mars','avril'],['01','02','03','04'])
data = data.replace(['mai','juin','juillet','aout'],['05','06','07','08'])
data = data.replace(['septembre','octobre','novembre','decembre'],['09','10','11','12'])
data["Date"] = data.jour.astype(str) + "-"+ data.mois.astype(str) +"-"+  data.année.astype(str)
data['Date'] = pd.to_datetime(data['Date'])
data

      Rafale max  help mois  ...        station       Date
0                 64.8   01  ...  orleans-bricy 2012-01-01
1                 55.6   01  ...  orleans-bricy 2012-02-01
2                 72.2   01  ...  orleans-bricy 2012-03-01
3                 56.5   01  ...  orleans-bricy 2012-04-01
4                 81.5   01  ...  orleans-bricy 2012-05-01
...                ...  ...  ...            ...        ...
4695              59.0   12  ...  orleans-bricy 2021-03-12
4696              62.3   12  ...  orleans-bricy 2021-04-12
4697              50.4   12  ...  orleans-bricy 2021-05-12
4698              43.2   12  ...  orleans-bricy 2021-06-12
4699              46.8   12  ...  orleans-bricy 2021-07-12

[3554 rows x 10 columns]

In [34]:
tm = data['Température minimale en °C']
data[['tem min','k']] =  tm.str.split(" ", n=1, expand=True)
data = data.drop(['Température minimale en °C','tem min'], axis=1 )
data['Température minimale en °C'] = data['k'].str.replace('[°C,@,&]', '')
data = data.drop(['k'], axis=1 )
tm = data['Température minimale en °C']
data[['tem min2','k2']] =  tm.str.split(" ", n=1, expand=True)
tm2 = data['k2']
data[['température minimale en °C','k2']] =  tm2.str.split(" ", n=1, expand=True)
data = data.drop(['Température minimale en °C', 'tem min2', 'k2'], axis=1 )
data['température minimale en °C'] = data['température minimale en °C'].astype(float)
tM = data['Température maximale en °C']
data[['tem max','k3']] =  tM.str.split(" ", n=1, expand=True)
tm3 = data['k3']
data[['température maximale en °C','k4']] =  tm3.str.split(" ", n=1, expand=True)
data['k4'] = data['k4'].str.replace('[°C,@,&]', '')
tm4 = data['k4']
data[['temp maximale en °C','k4']] =  tm4.str.split(" ", n=1, expand=True)
data = data.drop(['Température maximale en °C','tem max', 'k3',
       'température maximale en °C', 'k4'], axis=1 )
data['temp maximale en °C'] = data['temp maximale en °C'].astype(float)
data.rename(columns={"température minimale en °C": "Température minimale en °C"},inplace=True)
data.rename(columns={"temp maximale en °C": "Température maximale en °C"},inplace=True)
data = data.drop(['mois','jour', 'année'], axis=1 )
data

      Rafale max  help  ...  Température maximale en °C
0                 64.8  ...                        13.5
1                 55.6  ...                         9.8
2                 72.2  ...                        12.0
3                 56.5  ...                         9.4
4                 81.5  ...                        12.0
...                ...  ...                         ...
4695              59.0  ...                        11.6
4696              62.3  ...                        11.5
4697              50.4  ...                         6.4
4698              43.2  ...                         7.1
4699              46.8  ...                         7.5

[3554 rows x 7 columns]

In [35]:
data.to_csv('données_météo.csv',index = False)
Pop2 = pd.read_csv("/content/données_météo.csv", parse_dates=['Date'], dayfirst= True)
Pop2.sort_values(by=['Date'], inplace=True, ascending=True) 
Pop2

      Rafale max  help  ...  Température maximale en °C
0                 64.8  ...                        13.5
30                50.0  ...                        -1.2
59                24.1  ...                         9.9
90                50.0  ...                        13.4
120               31.5  ...                        17.4
...                ...  ...                         ...
3405              46.8  ...                        23.2
3436              39.6  ...                        31.2
3467              23.0  ...                        24.1
3497              29.2  ...                        16.7
3528              36.0  ...                        14.3

[3554 rows x 7 columns]

In [37]:
P = pd.concat([Pop, Pop2], axis=0)
P

           Date  ...  Température maximale en °C
351  2012-06-14  ...                         NaN
81   2012-06-15  ...                         NaN
387  2012-06-18  ...                         NaN
147  2012-06-25  ...                         NaN
80   2012-06-29  ...                         NaN
...         ...  ...                         ...
3405 2021-12-07  ...                        23.2
3436 2021-12-08  ...                        31.2
3467 2021-12-09  ...                        24.1
3497 2021-12-10  ...                        16.7
3528 2021-12-11  ...                        14.3

[4042 rows x 10 columns]

In [39]:
P.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4042 entries, 351 to 3528
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          4042 non-null   datetime64[ns]
 1   prix moyen au kg              4042 non-null   float64
 2   Production quantité tonne(s)  4042 non-null   float64
 3   catégorie tomates             488 non-null    object
 4   Rafale max  help              3554 non-null   float64
 5   soleil_durée                  3554 non-null   float64
 6   Précipitations en mm          3554 non-null   float64
 7   station                       3554 non-null   object
 8   Température minimale en °C    3554 non-null   float64
 9   Température maximale en °C    3554 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 347.4+ KB

In [40]:
total = P.isnull().sum().sort_values(ascending=False)
percent = (P.isnull().sum()/P.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                              Total   Percent
catégorie tomates              3554  0.879268
Température maximale en °C      488  0.120732
Température minimale en °C      488  0.120732
station                         488  0.120732
Précipitations en mm            488  0.120732
soleil_durée                    488  0.120732
Rafale max  help                488  0.120732
Production quantité tonne(s)      0  0.000000
prix moyen au kg                  0  0.000000
Date                              0  0.000000

In [42]:
P = P.drop(["catégorie tomates","station"], axis=1 )
P

           Date  ...  Température maximale en °C
351  2012-06-14  ...                         NaN
81   2012-06-15  ...                         NaN
387  2012-06-18  ...                         NaN
147  2012-06-25  ...                         NaN
80   2012-06-29  ...                         NaN
...         ...  ...                         ...
3405 2021-12-07  ...                        23.2
3436 2021-12-08  ...                        31.2
3467 2021-12-09  ...                        24.1
3497 2021-12-10  ...                        16.7
3528 2021-12-11  ...                        14.3

[4042 rows x 8 columns]

In [45]:
import numpy as np
datap= P.interpolate().dropna()
datap

           Date  ...  Température maximale en °C
0    2012-01-01  ...                        13.5
30   2012-01-02  ...                        -1.2
59   2012-01-03  ...                         9.9
90   2012-01-04  ...                        13.4
120  2012-01-05  ...                        17.4
...         ...  ...                         ...
3405 2021-12-07  ...                        23.2
3436 2021-12-08  ...                        31.2
3467 2021-12-09  ...                        24.1
3497 2021-12-10  ...                        16.7
3528 2021-12-11  ...                        14.3

[3554 rows x 8 columns]

In [46]:
datap = datap.drop_duplicates(subset=['Date'])
datap

           Date  ...  Température maximale en °C
0    2012-01-01  ...                        13.5
30   2012-01-02  ...                        -1.2
59   2012-01-03  ...                         9.9
90   2012-01-04  ...                        13.4
120  2012-01-05  ...                        17.4
...         ...  ...                         ...
3405 2021-12-07  ...                        23.2
3436 2021-12-08  ...                        31.2
3467 2021-12-09  ...                        24.1
3497 2021-12-10  ...                        16.7
3528 2021-12-11  ...                        14.3

[3554 rows x 8 columns]

In [47]:
datap.to_csv('TMN2.csv',index = False)

**intégration dans une database mongodb**

In [48]:
datan  = pd.read_csv('/content/TMN2.csv')
datan

            Date  ...  Température maximale en °C
0     2012-01-01  ...                        13.5
1     2012-01-02  ...                        -1.2
2     2012-01-03  ...                         9.9
3     2012-01-04  ...                        13.4
4     2012-01-05  ...                        17.4
...          ...  ...                         ...
3549  2021-12-07  ...                        23.2
3550  2021-12-08  ...                        31.2
3551  2021-12-09  ...                        24.1
3552  2021-12-10  ...                        16.7
3553  2021-12-11  ...                        14.3

[3554 rows x 8 columns]

In [49]:
db2 = client.Tomates_meteo_Centre10
mycl2 = db2["données"]

In [50]:
datan.reset_index(inplace=True)
data_dict = datan.to_dict("records")

In [55]:
mycl2.insert_many(data_dict)

**dataframe database**

In [57]:
Dat2 = pd.DataFrame(list(mycl2.find()))
Dat2

                           _id  ...  Température maximale en °C
0     61af856b1a31b7ae13260da4  ...                        13.5
1     61af856b1a31b7ae13260da5  ...                        -1.2
2     61af856b1a31b7ae13260da6  ...                         9.9
3     61af856b1a31b7ae13260da7  ...                        13.4
4     61af856b1a31b7ae13260da8  ...                        17.4
...                        ...  ...                         ...
3549  61af856b1a31b7ae13261b81  ...                        23.2
3550  61af856b1a31b7ae13261b82  ...                        31.2
3551  61af856b1a31b7ae13261b83  ...                        24.1
3552  61af856b1a31b7ae13261b84  ...                        16.7
3553  61af856b1a31b7ae13261b85  ...                        14.3

[3554 rows x 10 columns]