In [ ]:
!pip install pymongo dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.12.1)
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 27.3 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [ ]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)

In [ ]:
import warnings
from sklearn.metrics import mean_absolute_error
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'
import seaborn as sns
sns.set(style="white") #white background style for seaborn plots
sns.set(style="whitegrid", color_codes=True)
from numpy import array
from keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers.core import Activation, Dropout, Dense
from keras.layers import Flatten, LSTM
from keras.layers import GlobalMaxPooling1D
from keras.models import Model
from keras.layers.embeddings import Embedding
from sklearn.model_selection import train_test_split
from keras.preprocessing.text import Tokenizer
from keras.layers import Input
from keras.layers.merge import Concatenate
from keras.layers import Bidirectional
import re
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from fbprophet import Prophet
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt
import pymongo
import dns

In [ ]:
uri = "mongodb+srv://Thmo89:ThfMx2u1dMhvhdK16@cluster1.mknx2.mongodb.net/test?retryWrites=true&w=majority"
user_name = "Thmo89"
psw = "Authentication "
uri2 = "mongodb+srv://{}:{}@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority".format(user_name, psw)
client = pymongo.MongoClient(uri2)
db = client.Tomates_meteo_Centre15
mycl = db["données"]
Dat = pd.DataFrame(list(mycl.find()))
DT = pd.DataFrame(Dat, columns = ['Rafale max  help', 'soleil_durée',
       'Précipitations en mm',  'Température minimale en °C',
       'Température maximale en °C', 'prix moyen au kg',
       'Production quantité tonne(s)', 'Date'])
DT.to_csv('TMN.csv',index = False)

In [ ]:
Pop = pd.read_csv("/content/TMN.csv", parse_dates=['Date'], dayfirst= True)
Pop.sort_values(by=['Date'], inplace=True, ascending=True) 

Pop = Pop.set_index(['Date'])
Pop = Pop.resample("D").mean()
Pop = Pop.interpolate()

Prix = Pop['prix moyen au kg']

Production = Pop['Production quantité tonne(s)']

In [ ]:
p =[0, 1, 2, 3, 4, 5, 6]
d = range(0, 10)
q = [0, 1, 2, 3, 4, 5, 6]

**Prix**

In [ ]:
def p_prix(Prix, p, d, q):
  data = pd.DataFrame()
  for i in p:
    for j in d:
      for k in q:
        order = (i,j,k)
      try:
        mod = ARIMA(Prix,order)
        results = mod.fit()
        # print(results.summary())
        RMSEP = sqrt(mean_squared_error(Prix, results.predict()))
        print(RMSEP)
        MaeP = mean_absolute_error(Prix, results.predict())
        print(MaeP)
        data = data.append({"p":i, "d":j,"q":k,"RMSE":RMSEP , "MAE":MaeP}, ignore_index=True)
       
        
      except:
        pass
  data = data.sort_values(by='RMSE')
  return data

In [ ]:
p_prix(Prix, p, d, q)

0.06301918596660662
0.0389717719578667
0.047012393452271574
0.017663036130413107
0.04699663677720172
0.01762904594802748
0.04687592781636035
0.017559933690470757
0.04674213308277917
0.01791254761573826
0.04683254588524531
0.01778403339757685
0.046627479442953416
0.01793611036859408

/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning:

Maximum Likelihood optimization failed to converge. Check mle_retvals

        MAE      RMSE    d    p    q
6  0.017936  0.046627  0.0  6.0  6.0
4  0.017913  0.046742  0.0  4.0  6.0
5  0.017784  0.046833  0.0  5.0  6.0
3  0.017560  0.046876  0.0  3.0  6.0
2  0.017629  0.046997  0.0  2.0  6.0
1  0.017663  0.047012  0.0  1.0  6.0
0  0.038972  0.063019  0.0  0.0  6.0

**Production**

In [ ]:
def p_pro(Production, p, d, q):
  data = pd.DataFrame()
  for i in p:
    for j in d:
      for k in q:
        order = (i,j,k)
      try:
        mod2 = ARIMA(Production,order)
        results2 = mod2.fit()
        # print(results.summary())
        RMSEPo = sqrt(mean_squared_error(Production, results2.predict()))
        print(RMSEPo)
        MaePo = mean_absolute_error(Production, results2.predict())
        print(MaePo)
        data = data.append({"p":i, "d":j,"q":k,"RMSE":RMSEPo , "MAE":MaePo}, ignore_index=True)
       
        
      except:
        pass
  data = data.sort_values(by='RMSE')
  return data

In [ ]:
p_pro(Production, p, d, q)

0.2642724111365358
0.08733947575335056
0.25551158259451984
0.06522218307190134
0.25415788044400484
0.06476390345746319
0.2517047557905699
0.065970351234179
0.2515060733045512
0.06705721116599409
0.2507497490397483
0.06496928499337501
0.25028661736280317
0.0648044043359273

        MAE      RMSE    d    p    q
6  0.064804  0.250287  0.0  6.0  6.0
5  0.064969  0.250750  0.0  5.0  6.0
4  0.067057  0.251506  0.0  4.0  6.0
3  0.065970  0.251705  0.0  3.0  6.0
2  0.064764  0.254158  0.0  2.0  6.0
1  0.065222  0.255512  0.0  1.0  6.0
0  0.087339  0.264272  0.0  0.0  6.0