In [1]:
!pip install pymongo dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.12.0)
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 8.4 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [2]:
import pymongo

In [3]:
uri = "mongodb+srv://Thmo89:ThfMx2u1dMhvhdK16@cluster1.mknx2.mongodb.net/test?retryWrites=true&w=majority"
user_name = "Thmo89"
psw = "Authentication "
uri2 = "mongodb+srv://{}:{}@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority".format(user_name, psw)
uri2

'mongodb+srv://Thmo89:Authentication @cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'

In [4]:
#mongodb+srv://:@<cluster_name>.mongodb.net/
#"mongodb+srv://@<Thmo89>:<Rer565656>@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
#mongodb+srv://<username>:<password>@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

In [5]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)

In [6]:
import dns

In [7]:
import pandas as pd

data  = pd.read_csv('/content/TM20.csv')
data

         Date  ...  Rafales (vitesse du vent) en km/h
0    21/09/20  ...                               36.0
1    16/10/20  ...                               36.0
2    18/09/20  ...                               43.2
3    24/08/20  ...                               36.0
4    19/08/20  ...                               54.4
..        ...  ...                                ...
462  02/09/21  ...                               43.9
463  03/09/21  ...                               22.0
464  06/09/21  ...                               39.6
465  07/09/21  ...                               43.2
466  10/09/21  ...                               36.0

[467 rows x 8 columns]

In [8]:
client = pymongo.MongoClient(uri2)

In [9]:
db = client.Tomates_meteo_Centre6

In [10]:
mycl = db["données"]
mycl

Collection(Database(MongoClient(host=['cluster1-shard-00-00.mknx2.mongodb.net:27017', 'cluster1-shard-00-02.mknx2.mongodb.net:27017', 'cluster1-shard-00-01.mknx2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-14fo99-shard-0', ssl=True), 'Tomates_meteo_Centre6'), 'données')

In [11]:
data.reset_index(inplace=True)
data_dict = data.to_dict("records")

In [12]:
mycl.insert_many(data_dict)

In [13]:


Dat = pd.DataFrame(list(mycl.find()))
Dat

                          _id  ...  Rafales (vitesse du vent) en km/h
0    614358f532b17a396caa0a70  ...                               36.0
1    614358f532b17a396caa0a71  ...                               36.0
2    614358f532b17a396caa0a72  ...                               43.2
3    614358f532b17a396caa0a73  ...                               36.0
4    614358f532b17a396caa0a74  ...                               54.4
..                        ...  ...                                ...
462  614358f532b17a396caa0c3e  ...                               43.9
463  614358f532b17a396caa0c3f  ...                               22.0
464  614358f532b17a396caa0c40  ...                               39.6
465  614358f532b17a396caa0c41  ...                               43.2
466  614358f532b17a396caa0c42  ...                               36.0

[467 rows x 10 columns]