In [ ]:
!pip install pymongo dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.12.0)
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 7.4 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [ ]:
import pymongo

In [ ]:
uri = "mongodb+srv://Thmo89:ThfMx2u1dMhvhdK16@cluster1.mknx2.mongodb.net/test?retryWrites=true&w=majority"
user_name = "Thmo89"
psw = "Authentication "
uri2 = "mongodb+srv://{}:{}@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority".format(user_name, psw)
uri2

'mongodb+srv://Thmo89:Authentication @cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'

In [ ]:
#mongodb+srv://:@<cluster_name>.mongodb.net/
#"mongodb+srv://@<Thmo89>:<Rer565656>@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
#mongodb+srv://<username>:<password>@cluster1.mknx2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

In [ ]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.1.0)

In [ ]:
import dns

In [ ]:
client = pymongo.MongoClient(uri2)

In [ ]:
db = client.Tomates_meteo_Centre6

In [ ]:
mycl = db["données"]
mycl

Collection(Database(MongoClient(host=['cluster1-shard-00-01.mknx2.mongodb.net:27017', 'cluster1-shard-00-02.mknx2.mongodb.net:27017', 'cluster1-shard-00-00.mknx2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-14fo99-shard-0', ssl=True), 'Tomates_meteo_Centre6'), 'données')

In [ ]:
#data.reset_index(inplace=True)
#data_dict = data.to_dict("records")

In [ ]:
#mycl.insert_many(data_dict)

In [ ]:
document17 = {
        "index": 480.0,
        "Date":"18/10/21",
        "prix moyen au kg": 1.55,
        "Production quantité \ntonne(s)" : 0.2,
        "Température minimale en °C" : 4.9,
        "Température maximale en °C" : 16.8,
        "précipitations en mm" : 0,
        "Ensoleillement en min" : 313,
        "Rafales (vitesse du vent) en km/h": 25.2
        }

mycl.insert_one(document17)

In [ ]:
import pandas as pd

Dat = pd.DataFrame(list(mycl.find()))

Dat

                          _id  ...  Rafales (vitesse du vent) en km/h
0    614358f532b17a396caa0a70  ...                               36.0
1    614358f532b17a396caa0a71  ...                               36.0
2    614358f532b17a396caa0a72  ...                               43.2
3    614358f532b17a396caa0a73  ...                               36.0
4    614358f532b17a396caa0a74  ...                               54.4
..                        ...  ...                                ...
475  615ef943b2bba1f7d79d41d1  ...                               18.0
476  61604f308bb43d2df689aedb  ...                               46.8
477  61643d3ef8122d67a304e919  ...                               36.0
478  61659b7559dde19f8421e6cd  ...                               27.8
479  61698ef92ee51cef923f2e80  ...                               25.2

[480 rows x 10 columns]

In [ ]:
Dat.columns

Index(['_id', 'index', 'Date', 'prix moyen au kg',
       'Production quantité \ntonne(s)', 'Température minimale en °C',
       'Température maximale en °C', 'précipitations en mm',
       'Ensoleillement en min', 'Rafales (vitesse du vent) en km/h'],
      dtype='object')

In [ ]:
DT = pd.DataFrame(Dat, columns = ['Date', 'prix moyen au kg', 'Production quantité \ntonne(s)', 'Température minimale en °C', 
                                  'Température maximale en °C', 'précipitations en mm','Ensoleillement en min', 'Rafales (vitesse du vent) en km/h'])
DT.rename(columns={"Production quantité \ntonne(s)": "Production quantité tonne(s)"},inplace=True)
DT

         Date  ...  Rafales (vitesse du vent) en km/h
0    21/09/20  ...                               36.0
1    16/10/20  ...                               36.0
2    18/09/20  ...                               43.2
3    24/08/20  ...                               36.0
4    19/08/20  ...                               54.4
..        ...  ...                                ...
475  07/10/21  ...                               18.0
476  08/10/21  ...                               46.8
477  11/10/21  ...                               36.0
478  12/10/21  ...                               27.8
479  15/10/21  ...                               25.2

[480 rows x 8 columns]